.aboutSectionBlue {
    background-color: #5E88BF;
    border: 1px solid #ffffff;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aboutSectionWhite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff;
    opacity: 0.5;
    padding: 5px;
    margin: 5px;
}

.aboutImageSection {
    display: flex;
    align-self: center;
}

.aboutImage {
    width: 200px;
}

@media (min-width: 376px) {
    .aboutSectionBlue {
        margin: 30px;
    }

    .aboutImage {
        width: 400px;
    }
}
