.netIncomeFormContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.netIncomeForm {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: repeat(4, 30px);
    width: 80vw;
}
