* {
    margin: 0px;
    padding: 0px
}

#box1 {
    background-color: indigo;
    height: 80px;
    width: 80px;
    border: 1px solid #000; 
    border-radius: 50%;
    transition-property: background-color, border-radius, height;
    transition-duration: 1s;
    transition-timing-function: linear;
    transition-delay: 0s;
}

#box1:hover {
    background-color: red;
    border-radius: 0%;
    height: 120px;
}

#box2 {
    background-color: blue;
    height: 80px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 40%;
    transition-property: background-color, border-radius, width;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

#box2:hover {
    background-color: orange;
    border-radius: 0%;
    width: 140px;
}

#box3 {
    background-color: green;
    height: 80px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 30%;
    transition-property: background-color, border-radius;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

#box3:hover {
    background-color: yellow;
    border-radius: 0%;
}

#box4 {
    background-color: yellow;
    height: 80px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 20%;
    transition-property: background-color, border-radius, margin-left;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

#box4:hover {
    background-color: green;
    border-radius: 0%;
    margin-left: 20px;
}

#box5 {
    background-color: orange;
    height: 80px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 10%;
    transition-property: background-color, border-radius, margin-left;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0.95, 0.05, 0.795, 0.035)
}

#box5:hover {
    background-color: blue;
    border-radius: 0%;
    margin-left: 40px;
}

#box6 {
    background-color: red;
    height: 80px;
    width: 80px;
    border: 1px solid #000;
    border-radius: 0%;
    transition-property: background-color, border-radius, margin-left;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

#box6:hover {
    background-color: indigo;
    border-radius: 0%;
    margin-left: 100px;
}