.addDiv {
    height: 100px;
    padding-top: 70px;
    padding-left: 40.5%;
    background-color: yellow;
}

.subtractDiv {
    height: 100px;
    padding-top: 70px;
    padding-left: 39%;
    background-color: blue;
}

.multiplyDiv {
    height: 100px;
    padding-top: 70px;
    padding-left: 38.5%;
    background-color: red;
}