* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header { 
    overflow: hidden;
    position: fixed;
    top: 0;
    padding: 60px 10px;
    width: 100vw;
    background-color: #fefdfa;
    box-shadow: 5px 10px 18px #888888;
    transition: 0.4s;
    z-index: 99;
}

.after {
    padding: 20px 10px;
}

.before {
    padding: 60px 10px;
}

nav {
    float: right;
    margin-right: 20px;
    margin-top: 50px;
    text-align: center;
}

nav a {
    color: #000000;
    padding: 5px;
    text-decoration: none;
    font-size: 17px;
    line-height: 30px;
    border-radius: 4px;
}

nav a:hover {
    background-color: #4A8A94;
    color: #ffffff;
}


.headerTitle {
    font-size: 25px;
    font-weight: bold;
    color: #4A8A94;
    float: left;
    margin: 5px 0px;
}

.headerSubtitle {
    font-size: 18px;
    font-weight: 500;
    color: #4A8A94;
    float: left;
    margin: 30px -130px -100px;
}


.headerSubtitle:after {
    content:'';
    color:#4A8A94;
    animation:write 5s linear;
    animation-fill-mode: forwards;
}
  
@keyframes write {
    1% {
        content:'a';
    }
    5% {
        content:'a F';
    }
    7% {
        content:'a Full';
    }
    10% {
        content:'a Full-';
    }
    15% {
        content:'a Full-Stack';
    }
    20% {
        content:'a Full-Stack Java';
    }
    25% {
        content:'a Full-Stack JavaScript';
    }
    30% {
        content:'a Full-Stack JavaScript De';
    }
    40% {
        content:'a Full-Stack JavaScript Devel';
    }
    45% {
        content:'a Full-Stack JavaScript Develop';
    }
    50% {
        content:'a Full-Stack JavaScript Developer';
    }
    100% {
        color: #a2a2a2;
        content:'a Full-Stack JavaScript Developer.';
    }
  }




main {
    display: absolute;
    padding-top: 205px;
}

/* #about {
    display: block;
    position: relative;
    height: 100%
} */


.intro {
    background: #a2a2a2;
    width: 100vw;
    padding: 50px 0;
}

.container {
    width: 90vw;
    margin: 0 auto;
    text-align: center;
}

.container > h1 {
    font-size: 20px;
}

.timeline ul {
    background: #fefdfa;
    padding: 50px 0;
}

.timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 20px;
    /* margin: 0 auto; //place this in the browser view */
    padding-top: 50px;
    background: #a2a2a2;
}

.timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: inherit;
    border: 1px solid #000000;
}

.timeline ul li div {
    position: relative;
    bottom: 0;
    width: 90vw;
    padding: 15px;
    background: #4A8A94;
}

/* not quite sure what this one does */
.timeline ul li div::before {
    content: '';
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
}

.timeline ul li:nth-child(odd) div {
    left: 35px;
}

.timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #4A8A94 transparent transparent;
}

.timeline ul li:nth-child(even) div {
    left: 35px;
}

.timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #4A8A94 transparent transparent;
}

time {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.timeline ul li::after {
    transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
    background: #fefdfa;
}

.timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
    transform: translate3d(100px, 0, 0);
}

.timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
}