.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 100px);
    grid-gap: 10px;
}

.container > div:nth-child(1n) {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #F5C6D6;
}

.container > div:nth-child(2n) {
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: #EE2E84;
}

.container > div:nth-child(3n) {
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #EE2E84;
}

.container > div:nth-child(4n) {
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #EE2E84;
}

.container > div:nth-child(5n) {
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #EE2E84;
}

.container > div:nth-child(6n) {
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #85CFD8;
}

.container > div:nth-child(7n) {
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #85CFD8;
}

.container > div:nth-child(8n) {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #8DC63F;
}

.container > div:nth-child(9n) {
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #E76E34;
}